*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
h1{
    padding: 10px;
}
hr{
    height: 3px;
    background-color: rgb(153, 150, 150);
}
.count{
    font-size: 45px;
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'roboto';
}
button{
    background-color:cyan;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 16px;
    font-size: 1rem;
    margin-bottom: 20px;
}
input{
    height: 28px;
    width: 60px;
    font-size: 1rem;
    margin-bottom: 20px;
}
